@import "normalize";
@import "fonts";
@import "slick";
@import "slick-theme";
@import "./jquery.fancybox";
@import "modal";



html {
  font-size: 10px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


@import "media";